<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Password Manager</title>
    <style>
      html {
        background: #76b852; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #8dc26f,
          #76b852
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #8dc26f,
          #76b852
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    </style>
  </head>
  <body>
    <a href="../static/Password Manager.exe">click me to start download</a>
  </body>
</html>
