<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
</head>
<body style="background: lightsteelblue;">
    <h1 class"heading" style="color: #ee000ce5;border: cyan; animation: forwards;font-size: 55px;font-weight: bolder;margin-left: 300px;margin-right: 420px;background-color: rgb(247, 220, 220);background-clip: content-box;">Welcome to Youtube Downloader</h1>
    <form action="/downloadvideo" method="GET">
        <label id="url" style="font-weight: 900;font-size: 40px;" text="enter link">Enter URL:</label>
        <textarea id="urldata" placeholder="Paste link here" name="link" style="margin: 0px; width: 1233px; height: 58px;;" required></textarea><br><br>
        <button type="submit" id="submitbutton" name="submit" style="font-size: 35px;font-weight: bold;color: lightseagreen;margin-left: 550px;margin-right: 420px;padding: 20px;backface-visibility: visible;">Download Now</button>
    </form>
</body>
</html>